
{{#each this}}
<div class="card">
    <h1 class="card-title">{{name}}</h1>
    <div class="card-content">
        <div class="card-info">
            <div class="card-info__description">
                <p class="card-info__description--text">Capital: {{capital}}</p>
                <p class="card-info__description--text">Population: {{population}}</p>
                <p class="card-info__description--text">Languages: </p>
                <ul class="card-info__langs">
                    {{#each languages}}
                    <li>{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="card-flag">
            <img class="card-flag__img" src="{{flag}}" alt="Флаг {{name}}">
        </div>
    </div>
    
</div>
{{/each}}